<div class="content-container">
    <form class="form">
        <div class="form__header">
            <div class="form__header-title">Вход</div>
        </div>
        <div class="form__content">
            <div class="form__element">
                {{{ Label label="Логин" name="login"
                    className="form__element-label"
                }}}
                {{{ InputField name="login" type="text"
                    className="form__element-input"
                    validate=validationRules.login
                    ref="login"
                }}}
            </div>
            <div class="form__element">
                {{{ Label label="Пароль" name="password"
                    className="form__element-label"
                }}}
                {{{ InputField name="password" type="password"
                    className="form__element-input"
                    validate=validationRules.password
                    ref="password"
                }}}
            </div>
        </div>
        <div class="form__footer">
            <div class="form__element">
                {{{ Button label="Войти" className="confirm-button" onClick=onSubmit }}}
            </div>
            <div class="form__element">
                {{{ Button label="Нет аккаунта?" className="redirect-button" onClick=onRedirect }}}
            </div>
        </div>
    </form>
</div>
