<div class="container">
    <div class="redirect-back">
        {{{ Input name="redirectToProfile" type="image"
            src=redirectBackIcon
            onClick=onRedirect
        }}}
    </div>
    <div class="content-container">
        <div class="profile">
            <div class="profile__avatar">
                <img src={{avatar}}></image>
            </div>
            <div class="profile__details">
                <div class="profile__detail">
                    {{{ Label label="Старый пароль" name="oldPassword"
                        className="profile__detail-label"
                    }}}
                    {{{ InputField name="oldPassword" type="password"
                        className="profile__detail-input"
                        inputFieldClassName="input-field__profile"
                        validate=validationRules.password
                        ref="oldPassword"
                    }}}
                </div>
                <div class="profile__detail">
                    {{{ Label label="Новый пароль" name="newPassword"
                        className="profile__detail-label"
                    }}}
                    {{{ InputField name="newPassword" type="password"
                        className="profile__detail-input"
                        inputFieldClassName="input-field__profile"
                        validate=validationRules.password
                        ref="newPassword"
                    }}}
                </div>
                <div class="profile__detail">
                    {{{ Label label="Повторите новый пароль" name="newPasswordCheck"
                        className="profile__detail-label"
                    }}}
                    {{{ InputField name="newPasswordCheck" type="password"
                        className="profile__detail-input"
                        inputFieldClassName="input-field__profile"
                        validate=validationRules.password
                        ref="newPasswordCheck"
                    }}}
                </div>
            </div>
            <div class="profile__buttons">
                {{{ Button label="Сохранить" className="profile__button-confirm" onClick=onSubmit }}}
            </div>
        </div>
    </div>
</div>
